// Light
$light-bg: white;
$light-text: rgb(105, 168, 187);
$light-color: #3ca0e7;
$light-hover: #551a8b;
$light-home: white;
$nlight-bg: #001d38;
$qlight-bg:#f2f2f2 ;
$light-pagi: black;
$light-pagi-bg: white;
$light-blog-hover: rgb(201, 201, 201);

// Dark
$dark-bg:#001529;
$dark-text: white;
$dark-hover: white;
$dark-home: #001f3bce;
$ndark-bg: #001d38;
$dark-pagi: #3ca0e7;
$dark-pagi-bg:white;
$dark-blog-hover:  #001529;
