@import '../../Color/root.scss';
.jobmanage{
  position: relative;
  margin-top: 90px;
  padding: 20px;
  width: 100%;
  background-color: #e8eff9;
  padding-bottom: 100px;
  &__user{
    display: flex;
    margin-left: 60px;
    align-items: center;
    width: 400px;
    &:hover{
      cursor: pointer;
      & h2{
        text-decoration: underline;
      }
    }
    & h2{
      color: var(--text-color);
    }
    &__avt{
      margin-right: 15px;
      & .ant-badge-dot{
        top: 43px!important;
        right: 8px;
        width: 7px;
        height: 7px;
        min-width: 7px;
      }
      &__bg{
        border: 1px solid var(--text-color);
      }
    }
  }
  &__table{
    & .ant-table-thead >tr > th{
      background-color: var(--text-color)!important;
      color: var(--background-color)!important;
      text-align: center;
    }
    &__title{
      margin-left: 20px;
    }
    &__create{
      border-radius: 20px;
      color: var(--background-color);
      background-color: var(--text-color);
      font-weight: 500;
      border-color: transparent;
      transition: all ease 0.7s;
      &:hover{
        background-color: var(--background-color)!important;
        border-color: var(--text-color)!important;
        color: var(--text-color)!important;
      }
    }
  }
  &__edit{
    position: fixed;
    width: 650px;
    background-color: white;
    z-index: 1001;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    padding: 10px 30px;
    &__title{
      text-align: center;
      color: var(--text-color);
      font-size: 32px;
    }
    &__inline{
      display: flex;
      align-items: center;
      justify-content: center;
      &__button{
        margin: 10px;
        border-radius: 20px;
        color: var(--background-color);
        background-color: var(--text-color);
        font-weight: 600;
        border-color: transparent;
        transition: all ease 0.7s;
        &:hover{
          background-color: var(--background-color)!important;
          border-color: var(--text-color)!important;
          color: var(--text-color)!important;
        }
      }
    }
    &__close{
      position: absolute;
      top:-10px;
      right: -9px;
      background-color: var(--text-color);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--background-color);
      transition: all ease 0.5s;
      &:hover{
        cursor: pointer;
        background-color: rgb(233, 6, 6);
        color: white;
      }
    }
  }
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.spin{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.082);
}
.cvmanage{
  &__title{
    margin-left: 20px;
  }
  &__table{
      & .ant-table-thead >tr > th{
        background-color: var(--text-color)!important;
        color: var(--background-color)!important;
        text-align: center;
      }
  }
}
.detail{
  position: fixed;
  width: 650px;
  background-color: white;
  z-index: 1001;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  padding: 10px 30px;
  & h2{
    text-align: center;
    color: var(--text-color);
  }
  &__close{
    position: absolute;
    top:-10px;
    right: -9px;
    background-color: var(--text-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background-color);
    transition: all ease 0.5s;
    &:hover{
      cursor: pointer;
      background-color: rgb(233, 6, 6);
      color: white;
    }
  }
  &__button{
    width: 120px;
    height: 36px;
    border-radius: 20px;
    color: var(--background-color);
    background-color: var(--text-color);
    font-weight: 600;
    border-color: transparent;
    transition: all ease 0.7s;
    &:hover{
      background-color: var(--background-color)!important;
      border-color: var(--text-color)!important;
      color: var(--text-color)!important;
    }
  }
}