@import '../../Color/root.scss';
.footer{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px 0px;
  color: var(--text-color);
  &__text{
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
  }
  &__row{
    padding: 0px 150px;
  }
  &__col{
    & h5{
      margin: 5px 0px;
      font-weight: 400;
      font-size: 12px;
    }
    &__title{
      display: inline-block;
      width: auto;
      white-space: nowrap;
      position: relative;
      &::after{
        position: absolute;
        content: "";
        display: block;
        width: 70%;
        height: 2px;
        background-color: black;
        bottom: -3px;
        left: 1px;
        border-radius: 50px;
      }
    }
    &__icon{
      display: flex;
      font-size: 20px;
      &__i{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        border: 2px solid var(--text-color);
        border-radius: 50%;
        transition: all ease 0.7s;
        &:hover{
          cursor: pointer;
          background-color: var(--text-color);
          color: var(--background-color);
          & .icon{
            color: var(--background-color) !important;;
          }
        }
      }
    }
  }
}